<div class="container">
    <div class="row links-row pt-3 pb-3">
        <div class="col-md links-col">
            <nav class="text-center text-md-left">
                <a href="/" class="d-inline-block p-2">Home</a>
                <a href="/about" class="d-inline-block p-2">About</a>
                <a href="/podcasts" class="d-inline-block p-2">Podcasts</a>
                <a href="/blog" class="d-inline-block p-2">Blog</a>
                <a href="/contact" class="d-inline-block p-2">Contact</a>
                <a href="https://www.teepublic.com/user/campfiremedia" target="_blank" class="d-inline-block p-2">Shop</a>
            </nav>
        </div>
        <div class="col-md-1 logo-col">
            <div class="text-center pt-4 pb-4">
                <a class="d-inline-block" href="/">
                    <img class="d-block" src="{{ site.theme.link }}/resources/images/campfire-logo-icon.png" alt="{{ site.name }}">
                </a>
            </div>
        </div>
        <div class="col-md socials-col">
            <nav class="text-center text-md-right social-links">
                {% if options.apple_podcasts_url %}
                    <a target="_blank" href="{{ options.apple_podcasts_url }}" class="apple-podcasts-link d-inline-block pr-1"><img src="{{ site.theme.link }}/resources/images/subscribe-apple.png" alt="Subscribe on Apple"></a>
                {% endif %}
                {% if options.facebook_url %}
                    <a target="_blank" href="{{ options.facebook_url }}" class="social-link d-inline-block p-2"><i class="fab fa-facebook-f"></i></a>
                {% endif %}
                {% if options.twitter_url %}
                    <a target="_blank" href="{{ options.twitter_url }}" class="social-link d-inline-block p-2"><i class="fab fa-twitter"></i></a>
                {% endif %}
                {% if options.instagram_url %}
                    <a target="_blank" href="{{ options.instagram_url }}" class="social-link d-inline-block p-2"><i class="fab fa-instagram"></i></a>
                {% endif %}
            </nav>
        </div>
    </div>
    <div class="row copy-row pt-3 pb-5">
        <div class="col-md text-center copy">
            &copy; {{"now"|date('Y')}} Campfire Media. All Rights Reserved.
        </div>
    </div>
</div>