{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">

		{% if podcast %}
			<div class="row">
			    <div class="col-md-12">
			        <h2 class="podcast"><a href="{{ podcast.link }}">{{ podcast.title }}</a></h2>
			    </div>
			</div>
		{% endif %}

		<article class="post-type-{{ post.post_type }} mb-5 mt-5" id="post-{{ post.ID }}">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 mb-2">
					<h1 class="blog-post-title article-h1">{{ post.title }}</h1>
					<p class="blog-post-meta blog-author">
						<span class="date">{{ post.date }}</span> by {{ post.author.name }}
					</p>

				</div>
			</div>
			<div class="row justify-content-center mb-2">
				<div class="col-md-12">
					<div class="post-image">
						<img src="{{ post.thumbnail.src|resize(1200, 630) }}">
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8">
					<section class="article-content">
						<div class="row mt-3">
							{# <div class="col-md-8"> #}
							<div class="col">
								<div class="article-body rte">
									{{post.content}}
								</div>
							</div>
							{# ads will go here #}
						</div>
					</section>
				</div>
			</div>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
