{% extends "base.twig" %}

{% block page_banner %}
    <div id="podcast-banner" class="container-fluid">
        <div class="row">
            <div class="image-container">
                {% if post.get_field('banner_image') %}
                    {% set banner = TimberImage(post.get_field('banner_image')) %}
                    {# desktop #}
                    <img class="d-none d-md-block" src="{{ banner.src('banner_wide') }}" alt="{{ post.title }} banner">
                    {# tablet #}
                    <img class="d-none d-sm-block d-md-none" src="{{ post.thumbnail.src|resize(800, 600) }}" alt="{{ post.title }} banner">
                    {# mobile #}
                    <img class="d-block d-sm-none" src="{{ post.thumbnail.src('featured_square') }}" alt="{{ post.title }} banner">
                {% else %}
                    {# desktop #}
                    <img class="d-none d-md-block" src="{{ post.thumbnail.src|resize(2000, 440) }}" alt="{{ post.title }} banner">
                    {# tablet #}
                    <img class="d-none d-sm-block d-md-none" src="{{ post.thumbnail.src|resize(800, 600) }}" alt="{{ post.title }} banner">
                    {# mobile #}
                    <img class="d-block d-sm-none" src="{{ post.thumbnail.src('featured_square') }}" alt="{{ post.title }} banner">
                {% endif %}
            </div>
        </div>

        <div class="banner-socials container">
            <nav class="text-right social-links mb-2">
                {# {% if post.apple_podcasts %}
                <a target="_blank" href="{{ post.apple_podcasts }}" class="apple-podcasts-link d-inline-block pr-1"><img src="{{ site.theme.link }}/resources/images/subscribe-apple.png" alt="Subscribe on Apple"></a>
                {% endif %} #}
                {% if post.facebook %}
                <a target="_blank" href="{{ post.facebook }}" class="social-link d-inline-block p-2"><i class="fab fa-facebook-f"></i></a>
                {% endif %}
                {% if post.twitter %}
                <a target="_blank" href="{{ post.twitter }}" class="social-link d-inline-block p-2"><i class="fab fa-twitter"></i></a>
                {% endif %}
                {% if post.instagram %}
                <a target="_blank" href="{{ post.instagram }}" class="social-link d-inline-block p-2"><i class="fab fa-instagram"></i></a>
                {% endif %}
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="podcast-content mb-5">

        <div class="row mb-4">
            <div class="col text-uppercase">
                <div class="breadcrumbs">
                    <a href="/">HOME</a> /
                    <a href="/podcasts">PODCASTS</a> /
                    <a href="{{ post.link }}">{{ post.title }}</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="mb-5 {{ post.get_field('modules') ? 'col-lg-3 col-sm-6' : 'col-lg-6' }}">
                <div class="podcast-content-external-links mb-2">
                    {% if post.apple_podcasts %}
                    <a target="_blank" href="{{ post.apple_podcasts }}" class="apple-podcasts d-inline-block pr-2">
                        <img src="{{ site.theme.link }}/resources/images/subscribe-apple.png" alt="Subscribe on Apple">
                    </a>
                    {% endif %}
                    {% if post.spotify %}
                    <a target="_blank" href="{{post.spotify}}" class="spotify pr-2" title="Listen on Spotify">
                        <i class="fab fa-spotify"></i>
                    </a>
                    {% endif %}
                    <a target="_blank" href="{{post.rss_feed_url}}" class="rss" title="RSS">
                        <i class="fas fa-rss"></i>
                    </a>
                </div>

                <h1 class="h3 text-uppercase">About The Show</h1>

                <div class="article-body">
                    {{post.content}}
                </div>

                {% if hosts %}
                <div class="authors mt-4">
                    <h3 class="h4">Hosted By</h3>
                    {% for host in hosts %}
                        {% set podcastHost = TimberUser(host) %}
                        {# {% if podcastHost.description %}
                            {% set hostTitle = '<strong>' ~ podcastHost.name ~ '</strong><br>' ~ podcastHost.description|escape %}
                        {% else %}
                            {% set hostTitle = podcastHost.name %}
                        {% endif %} #}
                        {% set hostTitle = podcastHost.name %}
                        <div class="author-item" data-placement="bottom" data-toggle="tooltip" data-html="true" title="{{ hostTitle }}">
                            {% if podcastHost.get_field('host_avatar') %}
                                <img src="{{ TimberImage(podcastHost.get_field('host_avatar')).src('thumbnail') }}" alt="{{ podcastHost.name }}">
                            {% else %}
                                <img src="{{ podcastHost.avatar }}" alt="{{ podcastHost.name }}">
                            {% endif %}
                            {# <div class="host-info">
                                <div class="host-name">{{ podcastHost.name }}</div>
                                <div class="host-description">{{ podcastHost.description }}</div>
                            </div> #}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            {% if post.get_field('modules') %}
                <div class="mb-5 col-lg-3 col-sm-6">
                    {% for module in post.get_field('modules') %}
                        {% include 'modules/' ~ module.acf_fc_layout ~ '.twig' %}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="mb-4 col-lg-6">
                <div class="episode-list">
                    {% for episode in episodes %}
                        {% if loop.index == 1 %}
                            <div class="episode-teaser d-flex">
                                <img src="{{ episode.thumbnail.src('thumbnail') }}">
                                <div class="audio-player small">
                                    <p class="audio-podcast-title">{{ episode.title }}</p>
                                    <audio id="audio-player" src="{{ episode.mp3_link }}" type="audio/mp3" controls="controls"></audio>
                                </div>
                            </div>
                        {% endif %}

                        <div class="episode pt-3 pb-3">
                            <div class="date text-right">{{ episode.post_date|date('n/j/y') }}</div>
                            <h3 class="h6"><a href="{{ episode.link }}">{{ episode.title }}</a></h3>
                            <p>
                                {{ episode.content|excerpt(26) }}
                            </p>
                        </div>
                    {% endfor %}
                </div>

                <a href="{{ post.link }}episodes" class="btn btn-gradient btn-block btn-image-text">
                    <span class="sr-only">VIEW ARCHIVES</span>
                    <img src="{{ site.theme.link }}/resources/images/text/view-archives.png" alt="VIEW ARCHIVES">
                </a>
            </div>
        </div>
    </section>
{% endblock %}

