{% set episode_podcast = TimberPost(episode.get_field('podcast')) %}
<div class="item episode">
    <a href="{{ episode.link }}" class="item-img">
        <img src="{{ episode_podcast.thumbnail.src('featured_square') }}" alt="{{ episode_podcast.title }} Image">
    </a>
    <div class="item-description-block">
        <p class="podcast-title"><a href="{{ episode_podcast.link }}">{{ episode_podcast.title }}</a></p>
        <p class="episode-title"><a href="{{ episode.link }}">{{ episode.title }}</a></p>
        <p class="date">{{ episode.post_date|date('n/j/y') }}</p>
        <p class="short-description">
            {{ episode.post_content|excerpt(18) }}
        </p>
        <a href="{{ episode.link }}">Listen ></a>
    </div>
</div>