<div class="item podcast">
    <a href="{{ podcast.link }}" class="item-img">
        <img src="{{ podcast.thumbnail.src('featured_square') }}" alt="{{ podcast.title }} Image">
    </a>
    <div class="item-title">
        <a href="{{ podcast.link }}">{{ podcast.title }}</a>
    </div>
</div>