{% extends "tease.twig" %}

{% block content %}
	<div class="mb-5">
        {% if post.get_thumbnail %}
             <a class="item-img d-block mb-4" href="{{post.link}}">
                 <img src="{{post.thumbnail.src}}" />
             </a>
         {% endif %}
         <div class="item-description-block">
             <h3 class="h4 item-title"><a href="{{post.link}}">{{post.title}}</a></h2>
             <p class="blog-post-meta blog-author">
                 <span class="date">{{ post.date }}</span> by {{ post.author.name }}
             </p>
             <p class="short-description">{{post.preview.length(25)}}</p>
         </div>
    </div>
{% endblock %}